@media all and (max-width: 1200px) {}

@media all and (max-width: 1080px) {

    .menu-icon {
        display: block;
    }

    .menu-area {
        display: none;
    }

}


@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {
    .header-top {
        text-align: center;
    }

    .ht-social {
        margin-top: 5px;
        float: none;
    }
}

@media all and (max-width: 576px) {}


@media all and (max-width: 480px) {}

@media all and (max-width: 360px) {}
